.TransactionHistory {
  display: block;
  width: fit-content;
  margin: 10px;
  border-radius: 5px;
}

table {
  background-color: rgb(220,220,220);
}

th, td {
  padding: 15px;
  width: 200px;
  text-align: center;
}

th {
  background-color: #09f;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 80%;
}

td {
  background-color: #fff;
  color: #666;
  font-size: 90%;
}

tr:nth-child(2n) td {
  background-color: rgb(240, 240, 255);
}